@model JanusWeb.Models.MailFormModel

<h2>Create and Send Email</h2>
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="SendEmail" method="post">
    <div class="form-group">
        <label for="recipientEmail">To:</label>
        <input type="email" id="recipientEmail" name="recipientEmail" class="form-control" required />
    </div>
    
    <div class="form-group row">
        <div class="col-6">
            <label for="Subject">Subject:</label>
            <input type="text" id="Subject" name="Subject" class="form-control" required />
        </div>

        <div class=" col-6">
            <label for="DID">DID:</label>
            <input type="text" id="DID" name="DID" class="form-control" required />
        </div>
    </div>
    

    <div class="form-group">
        <label for="Body">Message:</label>
        <textarea id="Body" name="Body" class="form-control" rows="10" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send Email</button>
</form>
