@model JanusWeb.Models.MailList
@using System.Text.Encodings.Web

    <style>
        #emailContent {
            height: 100vh;
            overflow-y: auto;
        }

        /* Makes the Area for email display always look big */
        #contentArea {
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2">
                <div class="list-group" id="emailList">
                    @foreach (var email in Model.EmailList)
                    {
                        <a href="#" class="list-group-item list-group-item-action"
                       onclick="showContent('@(JavaScriptEncoder.Default.Encode(email.Content))')">
                            @email.Subject
                        </a>
                    }
                </div>
            </div>
            <div class="col-10">
                <textarea id="contentArea" class="form-control" readonly></textarea>
            </div>
        </div>
    </div>

    <script>
        function showContent(content) {
            document.getElementById('contentArea').value = content;
        }
    </script>
