@model JanusWeb.Models.MailList
@using System.Text.Encodings.Web

<style>
    .row-full-height {
        height: 100%;
    }

    #emailList {
        height: 100%;
        overflow-y: auto;
    }

    #contentArea {
        width: 100%;
        height: 100%;
        resize: none;
        overflow-y: auto;
    }
</style>

<div class="row row-full-height">
    <div class="col-2 d-flex flex-column p-0">
        @* Display an error message if there is one *@
        @if (ViewBag.Error != null)
        {
            <div class="error-message">
                @Html.Encode(ViewBag.Error)
            </div>
        }
        <div>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "MailCreator")'">neue mail</button>
        </div>

        <div class="list-group" id="emailList">
            @foreach (var email in Model.EmailList)
            {
                <a href="#" class="list-group-item list-group-item-action"
                   onclick="showContent('@(JavaScriptEncoder.Default.Encode(email.Content ?? ""))')">
                    @email.Subject
                </a>
            }
        </div>
    </div>
    <div class="col-10 d-flex flex-column p-0">
        <textarea id="contentArea" class="form-control" readonly></textarea>
    </div>
</div>

<script>
    function showContent(content) {
        document.getElementById('contentArea').value = content;
    }
</script>
