@model JanusWeb.Models.MailList
@using System.Text.Encodings.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Viewer</title>
    <style>
        #emailContent {
            height: 100vh;
            overflow-y: auto;
        }

        #contentArea {
            width: 100%;
            height: calc(100vh - 20px);
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-4 p-3 border-right">
                <div class="list-group" id="emailList">
                    @foreach (var email in Model.EmailList)
                    {
                        <a href="#" class="list-group-item list-group-item-action"
                       onclick="showContent('@(JavaScriptEncoder.Default.Encode(email.Content))')">
                            @email.Subject
                        </a>
                    }
                </div>
            </div>
            <div class="col-8 p-3">
                <textarea id="contentArea" class="form-control" readonly></textarea>
            </div>
        </div>
    </div>

    <script>
        function showContent(content) {
            document.getElementById('contentArea').value = content;
        }
    </script>
</body>
</html>
